  <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; @DateTime.Now.Year.
                        <span class="copyright-text text-center">Created by <a rel="nofollow" href="https://www.linkedin.com/in/marvelous-frank-solomon-189362109/" target="_blank">Marvelous Frank Solomon</a></span>.  All rights reserved.</p>
                    </div>
                    
               </div>
          </div>
     </footer>
