@inherits LayoutComponentBase

<div>
   
    <div class="col" style="margin-top:100px;">
        <NavMenu />
    </div>    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
