@inherits LayoutComponentBase

<div>
   
    <div class="col" style="margin-top: 50px" >        
<nav class="navbar fixed-top navbar-expand-lg @TextColour @background" style=" z-index: 10;" >
  <div class="container">
    <i class="navbar-brand @TextColour" href="#">Marvelous Portfolio</i>
    <button class="navbar-toggler @TextColour" type="button" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse justify-content-evenly" @onclick="ToggleNavMenu">
         <div class="nav-item ">
            <NavLink class="nav-link animation" href="/" Match="NavLinkMatch.All">
                <i class="fa-regular fa-address-card me-3"></i> About
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="/">
                <span class="fa-solid fa-list-check pe-3"></span>Project
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="/">
                <i class="fa-regular fa-file me-3"></i>Resume
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="/">
                <i class="fa-solid fa-phone-volume me-3" ></i> Contact
            </NavLink>
        </div>
        
        <div class="nav-item ">
            <NavLink class="nav-link" href="/"@onclick="ToggleColour">
             <i class="fa-solid fa-droplet"></i> Colour Mode
            </NavLink>
        </div>
    </div>
             
  </div>
  
</nav>

    </div >    
    <main class="vh-100 w-auto @TextColour @background">
        <article class="content px-4">
            @Body
        </article>
    </main>
    </div>
