<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">
    <i class="navbar-brand" href="#">Marvelous Portfolio</i>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse justify-content-evenly" @onclick="ToggleNavMenu">
         <div class="nav-item ">
            <NavLink class="nav-link animation" href="/" Match="NavLinkMatch.All">
                <i class="fa-regular fa-address-card me-3"></i> About
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="/">
                <span class="fa-solid fa-list-check pe-3"></span>Project
            </NavLink>
        </div>
        <div class="nav-item ">
            <NavLink class="nav-link" href="fetchdata">
                <i class="fa-regular fa-file me-3"></i>Resume
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="/">
                <i class="fa-solid fa-phone-volume me-3" ></i> Contact
            </NavLink>
        </div>
    </div>
  </div>
</nav>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

