@page "/About"

<div class="container " id="About">
    <div class="row ">
         <div class="col-lg-7 col-md-12 col-12 about-image">
                    <div>
                        <small class="small-text">Welcome to my portfolio website!</small>
                        <h1 >
                            Hey folks, I'm <span class="name">Marvelous Frank-Solomon</span>
                        </h1>

                        <p>Software Developer skilled in web application development using <br /> C#, Asp. Net Framework, .Net Core.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="/" class="btn mr-lg-2 btn-outline-secondary small-text" @onclick="DownloadPdf"><i class="fa-solid fa-file-lines"></i> Download Resume</a>
                          <a href="/Contact" class="btn btn-warning small-text">Let's talk!</a>
                        </div>
                    </div>
         </div>

        <div class="col-lg-5 col-12 image3-container" >
            <div class=" image2-container rounded text-center">                
                <img src="images/muna.png" width="70%" height="70%" class="image-container img-fluid rounded box-shadow float-none" alt="svg image">
            </div>
        </div>
    </div>
    </div>