@page "/Contact"

      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15812.666115751244!2d4.51088715!3d7.7721594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1689086631690!5m2!1sen!2sng" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Say hello</h3>
                  <p class="footer-text mb-0">+2349036417646</p>
                  <p><a href="mailto:hello@company.co">franksolomonmarvelous@gmail.com</a></p>
                </div>

                <ul class="social-links">
                    <li href="#" ><i class="uil fa-brands fa-linkedin fa-xl" data-toggle="tooltip" data-placement="left" title="LinkedIn"></i></li>
                    <li><i class=" uil fa-brands fa-github fa-xl" data-toggle="tooltip" data-placement="left" title="Github"></i></li>
                     <li><a href="#" class="uil fa-brands fa-linkedin fa-xl" data-toggle="tooltip" data-placement="left" title="LinkedIn"></a></li>
                    
                   @*  <li><a href="#" class="uil fa-brands fa-linkedin fa-lg" data-toggle="tooltip" data-placement="left" title="LinkedIn"></a></li>
                     <li><a href="#" class="uil fa-brands fa-github fa-lg" data-toggle="tooltip" data-placement="left" title="Github"></a></li>*@
                   @*  <li><a href="#" class="uil uil-instagram" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                     <li><a href="#" class="uil uil-youtube" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li>*@
                </ul>
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Interested to work together? Let's talk</h2>

              <form action="" method="get">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 end-0">
                    <input type="submit" class="form-control submit-btn" value="Send Button">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
