@page "/Project"

  <div class="col-lg-6 mx-auto text-center" >
       <h2>Things I have designed for digital media agencies</h2>
       </div>
    <div class="container" style="margin-top: 2em;">
        <div id="projectCarousel" class="carousel slide   " data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="text-center carousel-item active  ">
      <img src="images/munagit.jpg" class="img-fluid w-50  " alt="...">
      <div class="custom-btn-group mt-4">
         <a href="/Project" class="btn btn-warning small-text">View Project ></a>
      </div>
    </div>
    <div class="text-center carousel-item ">
      <img src="images/munalinkedin.jpg" class="img-fluid  w-50 " alt="...">
       <div class="custom-btn-group mt-4">
         <a href="/Project" class="btn btn-warning small-text">View Project ></a>
      </div>
    </div>
    <div class="text-center carousel-item">
      <img src="images/munaweb.jpg"class="img-fluid w-50 " alt="...">
       <div class="custom-btn-group mt-4">
         <a href="/Project" class="btn btn-warning small-text">View Project ></a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
  </button>
  </div>
</div>