@page "/Resume"

  <div class="container">
            <div class="row">

                <div class="col-lg-4 col-12">
                  <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2022</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Software Engineer II</span><small>AXXESS</small></h3>
                                  <ul>
                                      Collaborated with cross-functional teams to develop new features and improve existing ones. 
                                  </ul>
                                  <ul>
                                      Automated manual notification process using Power Automate.
                                  </ul>
                                  <ul>
                                      Created new features and fixed bugs using .Net technologies for my team.
                                  </ul>
                                  <ul>
                                      Handled the software release process from the development environment to the production environment.
                                  </ul>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Backend Engineer</span><small>TEAMAPT</small></h3>
                                 <ul>
                                      Contributed to building new features for the fintech payment gateway application. 
                                  </ul>
                                  <ul>
                                      Implemented third-party API integrations for the solution.
                                  </ul>
                                  <ul>
                                      Collaborated with my team to improve existing features using Java and Springboot technologies.
                                  </ul>
                              </div>
                        </div>

                    </div>
                </div>
                
                <div class="col-lg-4 col-12">
                  <h2 class="mb-4 mobile-mt-2">Certifications</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2023</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>AZ-400 (Azure DevOps Engineer)</span><small>Microsoft</small></h3>
                                  <p>Design and implement strategies for collaboration, code, infrastructure, source control, security, compliance, continuous integration, testing, delivery, monitoring, and feedback.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>AZ-900 (Azure Fundamentals)</span><small>Microsoft</small></h3>
                                <p>
                                   Cloud computing concepts, models, and services, such as public, private, and hybrid cloud, in addition
                                   to infrastructure as a service (IaaS), platform as a service (PaaS), and software as a service (SaaS). Azure support for security, privacy, compliance, and trust.</p>
                            </div>
                        </div>                    
             
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Electrical and Electronics Engineering(B. Eng.)</span><small>FUTO</small></h3>
                                    
                                  <ul>
                                      FEDERAL UNIVERSITY OF TECHNOLOGY, OWERRI.  
                                  </ul>
                                    <ul>
                                      Graduated: December 2019  
                                  </ul>
                                  <ul>
                                      CGPA: 4.39/5.0  
                                  </ul>
                             </div>
                        </div>

                    </div>
                </div>

         
                
            </div>
        </div>